<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
</head>
<body>
<div id="root" class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>my Shit</h1>
            <ol>
                <li v-for = "product in products">
                    <h3>{{product.name}}</h3>
                    <p>{{product.price}}</p>
                    <hr/>
                </li>
            </ol>
        </div>

    </div>
</div>





</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://vuejs.org/js/vue.js"></script>

<script>
    var app = new Vue({
       el:'#root',
       data:{
           products:[],
       },
        mounted(){
           this.fetchProducts();
        },
        methods:{
            fetchProducts(){
                axios.get("/products").then(function (response) {
                   this.products = response.data;
                }.bind(this) );
           }
        }
    });





</script>
</html>